extends layout

block content
  head
    link(rel='stylesheet', href='/stylesheets/reject.css')
  body
    div#reject
      pre.
        被刷掉囉哈哈哈哈被刷掉囉哈哈哈哈被刷掉囉哈哈哈哈被
        刷掉囉哈哈哈哈被刷掉囉哈哈哈哈被刷掉囉哈哈哈哈被刷
        掉囉哈哈哈哈被刷掉囉哈哈哈哈被刷掉囉哈哈哈哈被刷掉
        囉哈哈哈哈被刷掉囉哈哈哈哈被刷掉囉哈哈哈哈被刷掉囉
        哈哈哈哈被刷掉囉哈哈哈哈被刷掉囉哈哈哈哈被刷掉囉哈
        哈哈哈被刷掉囉哈哈哈哈被刷掉囉哈哈哈哈被刷掉囉哈哈
        哈哈被刷掉囉哈哈哈哈被刷掉囉哈哈哈哈
        
        

